# Default:
* @TheOneBOB

# Specific default overwrites:
/CNAME @TheOneBOB
/Gemfile @TheOneBOB
/.github/ @TheOneBOB
/License @TheOneBOB

# To make sure this file is protected:
/.github/CODEOWNERS @TheOneBOB