remote_theme: "BOBDevStudio/Minimal-Mistakes-Fork-Theme"

# --//Main customisation:

title: "RBAP Official Wiki"
description: "This is the official wiki for the Roblox game called Random Buildings And Parts"
#baseurl: /RBAP
logo: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
tab_icon: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
redirect_update_logs_category: true
color_images_base_path: "/Assets/Images/Colors/"
color_images_file_type: "png"
name: "BOB Development Studio"
remade_author_panel_enabled: false

# In order for a page category to be listed in a page's title there must be a homepage for that category and a name defined in the table below.
page_category_names:
  dock_page: "Docks"
  docks_category_page: "Docks Category Pages"
  game_dock_page: "In-Game Docks"
  removed_dock_page: "Removed Docks"
  dockentrancetype_page: "Dock Entrance Types"
  dockentrancetypes_category_page: "Dock Entrance Types Category Pages"
  game_dockentrancetype_page: "In-Game Dock Entrance Types"
  removed_dockentrancetype_page: "Removed Dock Entrance Types"
  system_dock_entrance_type: "System Dock Entrance Types"
  new_dock_dock_entrance_type: "New Dock Dock Entrance Types"

footer:
  links:
    - label: "License"
      icon: "fas fa-scroll"
      url: "https://bobdevstudio.github.io/RBAP-Wiki/License"

exclude:
  - Readme.md
  - License
  - .github
  - Code of Conduct.md
  - WIP
include:
  - _github-no

# --//Page defaults:

defaults:
  - scope:
      path: ""
    values:
      layout: single
      uses_image_header: false
      author: "BOBDevStudio"
      toc: false
      author_profile: false
      related: false
      navigation_buttons: false
      comments: false
      is_update_log: false
      is_post: false
      update_log_wip: false
      update_log_old: false
      update_log_really_old: false
      only_list_update_logs: false
      page_wip: false
      published_time_uses_pst: false
      published_time_uses_pdt: false
      pinned: false
      listed: true
      locked: false # This is technically wrong but this is supposed to be used if the issue behind the comments gets locked
      update_log_listed: false
      preview_image_path: "/Assets/Images/Page-Previews/Unset.png"
#  - scope:
#      path: ""
#      type: pages
#    values:
#      
  - scope:
      path: "Wiki/*"
    values:
      sidebar:
        nav: "Wiki"
      set_notices:
        - text: "This dock was merged into the [Game Info Dock](/RBAP-Wiki/Wiki/Docks/Game-Info-Dock) in [`V5`](/RBAP-Wiki/Posts/Update-Log/5-0-0)."
          type: "merge"
          name: "v5_game_info_dock_merged"
  - scope:
      path: "Wiki/Docks-Category-Pages/*"
      type: pages
    values:
      page_categories:
#        dock_page: true
        docks_category_page: true
  - scope:
      path: "Wiki/Dock-Pages/*"
      type: pages
    values:
      title: "[Dock Name N/A]"
      short_description: ""
      page_categories:
        dock_page: true
  - scope:
      path: "Wiki/Dock-Pages/Game/*"
      type: pages
    values:
      page_categories:
        game_dock_page: true
  - scope:
      path: "Wiki/Dock-Pages/Removed/*"
      type: pages
    values:
      page_categories:
        removed_dock_page: true
  - scope:
      path: "Wiki/Dock-Entrance-Types-Category-Pages/*"
      type: pages
    values:
      page_categories:
#        dockentrancetype_page: true
        dockentrancetypes_category_page: true
  - scope:
      path: "Wiki/Dock-Entrance-Type-Pages/*"
      type: pages
    values:
      title: "[Dock Entrance Type Name N/A]"
      short_description: ""
      page_categories:
        dockentrancetype_page: true
  - scope:
      path: "Wiki/Dock-Entrance-Type-Pages/Game/*"
      type: pages
    values:
      page_categories:
        game_dockentrancetype_page: true
  - scope:
      path: "Wiki/Dock-Entrance-Type-Pages/Removed/*"
      type: pages
    values:
      page_categories:
        removed_dockentrancetype_page: true
  - scope:
      path: ""
      type: posts
    values:
      is_post: true
      author_profile: true
      related: true
  - scope:
      path: "_posts/Update-Logs/*"
      type: posts
    values:
      is_update_log: true
      author_profile: true
      author: "BOB"
      comments: true
      categories:
        - Update Logs
      sidebar:
        nav: "UpdateLogs"
  - scope:
      path: "_posts/Update-Logs/Old/*"
      type: posts
    values:
      listed: false
      update_log_listed: true
      short_description: ""
      comments: false
      global_notices:
        - text: "**Note:** Do to how old the update described in this update log is this update log is not being actively maintained. This shouldn’t affect the usability of the page but stuff like spelling mistakes and overall unnecessary hype that was used older in update logs is unlikely to be fixed."
          type: "danger"
      categories:
        - Old Update Logs
        - Listed Old Update Logs
  - scope:
      path: "_posts/Update-Logs/Old/Really Old/*"
      type: posts
    values:
      update_log_listed: false
      global_notices:
        - text: "**Note:** Do to how old the update described in this update log is this update log is not being actively maintained. This shouldn’t affect the usability of the page but stuff like spelling mistakes and overall unnecessary hype that was used older in update logs is unlikely to be fixed."
          type: "danger"
        - text: "**Note:** This update log was originally made for the long gone in-game update log system from around late 2018. Due to it being from the old system it is unlikely that it will ever be given a version number due to the fact that the old system predates the current version numbers system. It is also unlikely that it will ever have a listed exact publish time. More info on this is available in the [notes about the update log system](/RBAP-Wiki/Posts/Update-Log-Notes)."
          type: "warning"
      categories:
        - Old Update Logs
        - Old Update Log System Extracted
      tags:
        - RBAP Beta

# --//Plugin related stuff:

safe: true
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap
whitelist:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap

# --//Comment settings:

repository: "BOBDevStudio/RBAP-Wiki-Comments"
comments:
  provider: "utterances"
  utterances:
    theme: "github-light" # Can be set to "github-light" or "github-dark"
    issue_term: "pathname"

# --//Search settings:

search: true
search_full_content: true
search_provider: "lunr"

# --//No need to edit really:

strict_front_matter: true
incremental: false
locale: "en-US"
title_separator: "-"
atom_feed:
  hide: true
category_archive:
  type: liquid
  path: /Categories
tag_archive:
  type: liquid
  path: /Tags