remote_theme: "BOBDevStudio/Minimal-Mistakes-Fork-Theme"

# --//Main customisation:

title: "RBAP Official Wiki"
description: "This is the official wiki for the Roblox game called Random Buildings And Parts"
#baseurl: /RBAP
logo: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
tab_icon: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
redirect_update_logs_category: true
color_images_base_path: "/Assets/Images/Colors/"
color_images_file_type: "png"
name: "BOB Development Studio"
remade_author_panel_enabled: false

# In order for a page category to be listed in a page's title there must be a homepage for that category and a name defined in the table below.
page_category_names:
  dock_page: "Docks"
  docks_category_page: "Docks Category Pages"
  game_dock_page: "In-Game Docks"
  removed_dock_page: "Removed Docks"
  docktype_page: "Dock Types"
  docktypes_category_page: "Dock Types Category Pages"
  game_docktype_page: "In-Game Dock Types"
  removed_docktype_page: "Removed Dock Types"
  system_dock_type: "System Dock Types"
  new_dock_dock_type: "New Dock Dock Types"

footer:
  links:
    - label: "License"
      icon: "fas fa-scroll"
      url: "https://bobdevstudio.github.io/RBAP-Wiki/License"

exclude:
  - Readme.md
  - License
  - .github
  - Code of Conduct.md
  - WIP
include:
  - _github-no

# --//Page defaults:

defaults:
  - scope:
      path: ""
    values:
      layout: single
      uses_image_header: false
      author: "BOBDevStudio"
      toc: false
      author_profile: false
      related: false
      navigation_buttons: false
      comments: false
      is_update_log: false
      is_post: false
      update_log_wip: false
      update_log_old: false
      update_log_really_old: false
      only_list_update_logs: false
      page_wip: false
      published_time_uses_pst: false
      published_time_uses_pdt: false
      pinned: false
      listed: true
      locked: false # This is technically wrong but this is supposed to be used if the issue behind the comments gets locked
      update_log_listed: false
      preview_image_path: "/Assets/Images/Page-Previews/Unset.png"
#  - scope:
#      path: ""
#      type: pages
#    values:
#      
  - scope:
      path: "Wiki/*"
    values:
      sidebar:
        nav: "Wiki"
  - scope:
      path: "Wiki/Docks-Category-Pages/*"
      type: pages
    values:
      page_categories:
#        dock_page: true
        docks_category_page: true
  - scope:
      path: "Wiki/Dock-Pages/*"
      type: pages
    values:
      title: "[Dock Name N/A]"
      short_description: ""
      page_categories:
        dock_page: true
  - scope:
      path: "Wiki/Dock-Pages/Game/*"
      type: pages
    values:
      page_categories:
        game_dock_page: true
      sidebar:
        nav: "Wiki_DocksCategory_Game"
  - scope:
      path: "Wiki/Dock-Pages/Removed/*"
      type: pages
    values:
      page_categories:
        removed_dock_page: true
      sidebar:
        nav: "Wiki_DocksCategory_Removed"
  - scope:
      path: "Wiki/Dock-Pages/Joke/*"
      type: pages
    values:
      page_categories:
        joke_dock_page: true
      sidebar:
        nav: "Wiki_DocksCategory_Joke"
  - scope:
      path: "Wiki/Dock-Types-Category-Pages/*"
      type: pages
    values:
      page_categories:
#        docktype_page: true
        docktypes_category_page: true
  - scope:
      path: "Wiki/Dock-Type-Pages/*"
      type: pages
    values:
      title: "[Dock Type Name N/A]"
      short_description: ""
      page_categories:
        docktype_page: true
  - scope:
      path: "Wiki/Dock-Type-Pages/Game/*"
      type: pages
    values:
      page_categories:
        game_docktype_page: true
      sidebar:
        nav: "Wiki_DockTypesCategory_Game"
  - scope:
      path: "Wiki/Dock-Type-Pages/Removed/*"
      type: pages
    values:
      page_categories:
        removed_docktype_page: true
      sidebar:
        nav: "Wiki_DockTypesCategory_Removed"
  - scope:
      path: "Wiki/Dock-Type-Pages/Joke/*"
      type: pages
    values:
      page_categories:
        joke_docktype_page: true
      sidebar:
        nav: "Wiki_DockTypesCategory_Joke"
  - scope:
      path: ""
      type: posts
    values:
      is_post: true
      author_profile: true
      related: true
  - scope:
      path: "_posts/Update-Logs/*"
      type: posts
    values:
      is_update_log: true
      author_profile: true
      author: "BOB"
      comments: true
      categories:
        - Update Logs
      sidebar:
        nav: "UpdateLogs"
  - scope:
      path: "_posts/Update-Logs/Old/*"
      type: posts
    values:
      update_log_old: true
      categories:
      listed: false
      update_log_listed: true
      short_description: ""
      comments: false
      categories:
        - Old Update Logs
        - Listed Old Update Logs
  - scope:
      path: "_posts/Update-Logs/Old/Really Old/*"
      type: posts
    values:
      update_log_really_old: true
      update_log_listed: false
      categories:
        - Old Update Logs
        - Old Update Log System Extracted
      tags:
        - RBAP Beta

# --//Plugin related stuff:

safe: true
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap
whitelist:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap

# --//Comment settings:

repository: "BOBDevStudio/RBAP-Wiki-Comments"
comments:
  provider: "utterances"
  utterances:
    theme: "github-light" # Can be set to "github-light" or "github-dark"
    issue_term: "pathname"

# --//Search settings:

search: true
search_full_content: true
search_provider: "lunr"

# --//No need to edit really:

strict_front_matter: true
incremental: false
locale: "en-US"
title_separator: "-"
atom_feed:
  hide: true
category_archive:
  type: liquid
  path: /Categories
tag_archive:
  type: liquid
  path: /Tags
