remote_theme: "BOBDevStudio/Minimal-Mistakes-Fork-Theme"

# --//Main customisation:

title: "RBAP Official Wiki"
description: "This is the official wiki for the Roblox game called Random Buildings And Parts"
#baseurl: /RBAP
logo: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
tab_icon: "/Assets/Images/Page-Icons/Main%20Page%20Icon.ico"
update_log_time_zone: "PST/PDT"
redirect_update_logs_category: true
name: "BOB Development Studio"

footer:
  links:
    - label: "License"
      icon: "fas fa-scroll"
      url: "https://bobdevstudio.github.io/RBAP-Wiki/License"

exclude:
  - Readme.md
  - License
  - .github
  - Code of Conduct.md
  - WIP
include:
  - _github-no

# --//Page defaults:

defaults:
  - scope:
      path: ""
    values:
      layout: single
      is_home_page: false
      author: "BOBDevStudio"
      toc: false
      author_profile: false
      related: false
      navigation_buttons: false
      comments: false
      is_update_log: false
      is_post: false
      update_log_wip: false
      update_log_old: false
      update_log_really_old: false
      only_list_update_logs: false
#  - scope:
#      path: ""
#      type: pages
#    values:
#      
  - scope:
      path: "Wiki/*"
    values:
      sidebar:
        nav: "Wiki"
  - scope:
      path: ""
      type: posts
    values:
      is_post: true
      author_profile: true
      related: true
      pinned: false
      listed: true
      locked: false # This is technically wrong but this is supposed to be used if the issue behind the comments gets locked
  - scope:
      path: "_posts/Update-Logs/*"
      type: posts
    values:
      is_update_log: true
      author_profile: true
      author: "BOB"
      comments: true
      categories:
        - Update Logs
      sidebar:
        nav: "UpdateLogs"
  - scope:
      path: "_posts/Update-Logs/Old/*"
      type: posts
    values:
      update_log_old: true
      categories:
      listed: false
      short_description: ""
      comments: false
      categories:
        - Old Update Logs
  - scope:
      path: "_posts/Update-Logs/Old/Really Old/*"
      type: posts
    values:
      update_log_really_old: true
      categories:
        - Old Update Logs
        - Old Update Log System Extracted
      tags:
        - RBAP Beta

# --//Plugin related stuff:

safe: true
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap
whitelist:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-gist
#  - jekyll-sitemap

# --//Comment settings:

repository: "BOBDevStudio/RBAP-Wiki-Comments"
comments:
  provider: "utterances"
  utterances:
    theme: "github-light" # Can be set to "github-light" or "github-dark"
    issue_term: "pathname"

# --//Search settings:

search: true
search_full_content: true
search_provider: "lunr"

# --//No need to edit really:

locale: "en-US"
title_separator: "-"
atom_feed:
  hide: true
category_archive:
  type: liquid
  path: /Categories
tag_archive:
  type: liquid
  path: /Tags
