name: Maintain new pull requests

on:
  pull_request_target:
    types: [opened]

jobs:
  MaintainBOBPost:
    name: Maintain pull request by BOB
    runs-on: windows-latest
    if: ${{ github.event.sender.login == 'TheOneBOB' }}
    timeout-minutes: 60
    steps:
    - name: Lock
      if: ${{ startsWith(github.event.pull_request.title, 'RBAP Update') != true }}
      run: |
        curl -X PUT -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""lock_reason\"": \""resolved\"" }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/lock"
    - name: Add the RBAP Updates milestone
      if: ${{ startsWith(github.event.pull_request.title, 'RBAP Update') == true }}
      run: |
        curl -X PATCH -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""milestone\"": 1 }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}"
    - name: Assign BOB
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""assignees\"": [\""TheOneBOB\""] }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/assignees"
    - name: Add usual labels
      if: ${{ startsWith(github.event.pull_request.title, 'RBAP Update') != true }}
      run: |
        curl -X PUT -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""labels\"": [\""For Personal To Do List\"", \""Locked\""]}" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/labels"
    - name: Add the BOB Pull Requests milestone
      if: ${{ startsWith(github.event.pull_request.title, 'RBAP Update') != true }}
      run: |
        curl -X PATCH -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""milestone\"": 2 }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}"
    - name: Approve changes
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""commit_id\"": \""${{ github.event.pull_request.head.sha }}\"", \""event\"": \""APPROVE\"" }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/pulls/${{ github.event.pull_request.number }}/reviews"
  MaintainUnbitternessPost:
    name: Maintain pull request by Unbitterness
    runs-on: windows-latest
    if: ${{ github.event.sender.login == 'Valexiwasgone' }}
    timeout-minutes: 60
    steps:
    - name: Assign Unbitterness
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""assignees\"": [\""Valexiwasgone\""] }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/assignees"
  MaintainDependabotPost:
    name: Maintain pull request by Dependabot
    runs-on: windows-latest
    if: ${{ github.event.sender.login == 'dependabot[bot]' && github.event.sender.type == 'Bot' }}
    timeout-minutes: 60
    steps:
    - name: Lock
      run: |
        curl -X PUT -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/lock"
    - name: Assign BOB
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""assignees\"": [\""TheOneBOB\""] }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/issues/${{ github.event.pull_request.number }}/assignees"
    - name: Make BOB a reviewer
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.KEY }}" -H "Accept: application/vnd.github.v3+json" -d "{ \""reviewers\"": [\""TheOneBOB\""] }" --url "https://api.github.com/repos/BOBDevStudio/RBAP-Wiki/pulls/${{ github.event.pull_request.number }}/requested_reviewers"